/*mobile-first page design*/
img{
  width: 100%;
  height: auto;
}

#content{
  margin: 0 4% 0 4%;
  padding: 3% 3% 3% 3%;
  border-style: solid;
  border-color: rgb(66, 38, 46);
  border-width: 0.3em;
  border-radius: 0.5em;
  background-color: rgb(245, 100, 144);
  line-height: 1.5em;
}

h1{
  font-family: 'Great Vibes', cursive;
  font-size: 3.5em;
  text-align: center;
  color: rgb(66, 38, 46);
}

p{
	font-family: "Apple Chancery", cursive;
	font-size: 0.9em;
	text-align: center;
}

#input-name{
  margin-top: 7%;
  display: flex;
  margin-bottom: 7%;
  font-family: "Georgia", serif;
  font-size: 1.1em;
}

#fname{
	margin-left: 2%;
	width: 66%;
	height: 2em;
}

#input-email{
  display: flex;
  margin-bottom: 7%;
  font-family: "Georgia", serif;
  font-size: 1.1em;
}

#email{
  margin-left: 2.5%;
  width: 66%;
  height: 2em;
}

#input-phone{
  display: flex;
  margin-bottom: 7%;
  font-family: "Georgia", serif;
  font-size: 1.1em;
}

input[type="tel"]::placeholder {  
  text-align: center;  
}  

#phone-num{
  margin-left: 2%;
  width: 66%;
  height: 2em;
}

#note{
  text-align: left;
  list-style: none;
  margin-bottom: 5%;
  color: white;
  font-size: 0.7em;
}

#input-submit{
  display: flex;
}

#submit{
  margin: auto;
  font-family: 'Playfair Display', 'Cormorant Garamond', serif;
  padding: 0.3em;
  border-width: 0;
  border-radius: 1.5em;
  background-color: rgb(61, 37, 37);
  color: white;
  font-size: 1.2em;
}

@media (min-width: 600px) {
  img{
    width: 40%;
    height: auto;
  }
  
  #content{
  margin: 0 10% 0 10%;
  padding: 3% 10% 3% 10%;
  }
}

@media(min-width: 992px) {
  img{
    width: 20%;
    height: auto;
  }
  
  #content{
    border-width: 0.5em;
    margin: 0 30% 0 30%;
    padding: 3% 3% 3% 3%;
  }
  
  #note{
    font-size: 0.8em;
  }
}